@model IList<RookieShopLite.ViewModel.ProductViewModel>
@{
    ViewData["Title"] = "Home Page";
}

<div class="content-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12 section-title">
                <h2>New Products</h2>
            </div> <!-- /.section -->
        </div> <!-- /.row -->
        <div class="row">
            @foreach (var product in Model)
            {
            <div class="col-md-3 col-sm-6">
                <div class="product-item">
                    <div class="product-thumb">
                        @{ string image = product.images.FirstOrDefault(); }
                        <img src="~/images/@Html.DisplayFor(modelItem => image)" alt="">
                    </div>
                    <div class="product-content">
                        <h5><a asp-controller="Home" asp-action="ProductView" asp-route-id="@product.Id">@product.ProductName</a></h5>
                        @if (product.ProductPriceBefore == 0)
                        {
                            <span class="price">$@product.ProductPriceNow</span>
                        } else
                        { 
                            <span class="price">$@product.ProductPriceNow</span>
                            <span class="price-before"><strike>$@product.ProductPriceBefore</strike></span>
                        }

                    </div>
                </div>
            </div>
            }
            <div class="col-md-3 col-sm-6">
                    <div class="product-item">
                        <div class="product-thumb">
                            <img src="images/gallery-image-5.jpg" alt="">
                        </div> <!-- /.product-thum -->
                        <div class="product-content">
                            <h5><a href="#">Another New Shirt</a></h5>
                            <span class="price">$80.00</span>
                        </div> <!-- /.product-content -->
                    </div> <!-- /.product-item -->
                </div> <!-- /.col-md-3 -->
        </div> 
    </div>
</div>
