@model IList<RookieShopLite.ViewModel.ProductViewModel>
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "ProductView";
}

<div class="content-section">
    <div class="container">
        @foreach (var product in Model)
        {
            <div class="row">
                <div class="col-md-8">
                    <div class="product-image w3-content w3-display-container">
                        @foreach (var image in product.images)
                        {
                            <img class="mySlides" src="~/images/@Html.DisplayFor(modelItem => image)" alt="">
                        }
                        <button class="w3-button w3-black w3-display-left" onclick="plusDivs(-1)">&#10094;</button>
                        <button class="w3-button w3-black w3-display-right" onclick="plusDivs(1)">&#10095;</button>
                    </div> <!-- /.product-image -->
                    <div class="product-information">
                        <h2>@product.ProductName</h2>
                        <p>@product.ProductShortDescription</p>
                        <p>@product.ProductFullDescription</p>
                        @if (product.ProductPriceBefore != 0)
                        {
                            <p class="product-infos">
                                <span>Price Discounted: $@product.ProductPriceNow</span>
                                <span class="old-price">Original Price: <strike>$@product.ProductPriceBefore</strike></span>
                            </p>
                        }
                        else
                        {
                            <p class="product-infos">
                                <span>Price: $@product.ProductPriceNow</span>
                            </p>
                        }
                        <ul class="product-buttons">
                            @if (!SignInManager.IsSignedIn(User))
                            {
                                <li>
                                    <a asp-area="Identity" asp-page="/Account/Login" class="main-btn">Buy Now</a>
                                </li>
                            }
                            else
                            {
                                <li>
                                    <a asp-route-id="@product.Id" asp-controller="Cart" asp-action="AddToCart" class="main-btn">Buy Now</a>
                                </li>
                            }

                        </ul>
                        <div class="blog-comments-section">
                            <div id="disqus_thread"></div>
                            <script>

                                (function () {  // REQUIRED CONFIGURATION VARIABLE: EDIT THE SHORTNAME BELOW
                                    var d = document, s = d.createElement('script');

                                    // IMPORTANT: Replace 3wmthemes with your forum shortname!
                                    s.src = 'https://3wmthemes.disqus.com/embed.js';

                                    s.setAttribute('data-timestamp', +new Date());
                                    (d.head || d.body).appendChild(s);
                                })();</script>
                            <noscript>
                                Please enable JavaScript to view the
                                <a href="https://disqus.com/?ref_noscript" rel="nofollow">
                                    comments powered by Disqus.
                                </a>
                            </noscript>
                        </div>
                    </div> <!-- /.product-information -->
                </div>
                <div class="col-md-4 col-sm-8">
                    <div class="product-item-2">
                        <div class="product-thumb">
                            <img src="images/featured/1.jpg" alt="Product Title">
                        </div> <!-- /.product-thumb -->
                        <div class="product-content overlay">
                            <h5><a href="#">Name Of Shirt</a></h5>
                            <span class="tagline">Partner Name</span>
                            <span class="price">$30.00</span>
                            <p>Doloremque quo possimus quas necessitatibus blanditiis excepturi. Commodi, sunt tenetur deleniti labore!</p>
                        </div> <!-- /.product-content -->
                    </div> <!-- /.product-item-2 -->
                    <div class="product-item-2">
                        <div class="product-thumb">
                            <img src="images/featured/2.jpg" alt="Product Title">
                        </div> <!-- /.product-thumb -->
                        <div class="product-content overlay">
                            <h5><a href="#">Name Of Shirt</a></h5>
                            <span class="tagline">Partner Name</span>
                            <span class="price">$40.00</span>
                            <p>Doloremque quo possimus quas necessitatibus blanditiis excepturi. Commodi, sunt tenetur deleniti labore!</p>
                        </div> <!-- /.product-content -->
                    </div> <!-- /.product-item-2 -->
                    <div class="product-item-2">
                        <div class="product-thumb">
                            <img src="images/featured/8.jpg" alt="Product Title">
                        </div> <!-- /.product-thumb -->
                        <div class="product-content overlay">
                            <h5><a href="#">Name Of Shirt</a></h5>
                            <span class="tagline">Partner Name</span>
                            <span class="price">$50.00</span>
                            <p>Doloremque quo possimus quas necessitatibus blanditiis excepturi. Commodi, sunt tenetur deleniti labore!</p>
                        </div> <!-- /.product-content -->
                    </div> <!-- /.product-item-2 -->
                </div> <!-- /.col-md-4 -->
            </div> <!-- /.row -->
        }
    </div> <!-- /.container -->
</div> <!-- /.content-section -->

<script>
    var slideIndex = 1;
    showDivs(slideIndex);

    function plusDivs(n) {
        showDivs(slideIndex += n);
    }

    function showDivs(n) {
        var i;
        var x = document.getElementsByClassName("mySlides");
        if (n > x.length) { slideIndex = 1 }
        if (n < 1) { slideIndex = x.length }
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
        }
        x[slideIndex - 1].style.display = "block";
    }
</script>